SA_PASSWORD=YourStrongPassword123!
SEQ_ADMIN_PASSWORD=YourStrongPasswordHere
SEQ_ADMIN_USERNAME=admin
SEQ_SERVER_URL=http://seq:80
OpenTelemetry_URL=http://otel-collector:4317
GRAFANA_ADMIN_USERNAME=admin
GRAFANA_ADMIN_PASSWORD=YourSecurePassword