.header {
    background-color: var(--surface);
    padding: var(--space-16) var(--space-48);
}

.inner {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: var(--text-primary);
    justify-content: space-between;
}

.logo {
    font-size: var(--font-size-18);
    text-decoration: none;
}

.logo:active {
    color: var(--primary-600);
}

.desktopNav {
    display: flex;
    align-items: center;
    gap: var(--space-48);
    flex: 1;
    justify-content: center;
}

.desktopNav a {

    padding: var(--space-8) var(--space-12);
    border-radius: var(--space-8);
}

.desktopNav a:hover {
    background-color: var(--gray-100);
}

.desktopNav a:active {
    color: var(--primary-600);
}


.navLink {
    position: relative;
    text-decoration: none;
    font-weight: var(--font-weight-regular);
    z-index: 0;
}

.navLinkActive {
    color: var(--text-white);
    font-weight: var(--font-weight-medium);
}

.navLink span {
    position: relative;
    z-index: 1;
}

.activeBackground {
    position: absolute;
    inset: 0;
    border-radius: var(--space-12);
    background: var(--primary-400);
    z-index: 0;
}

.desktopActions {
    display: flex;
    align-items: center;
    gap: var(--space-12);
}

.toggleBackground {
    align-items: center;
    background: var(--theme-toggle-bg);
    color: var(--theme-toggle-icon);
    border-radius: var(--space-12);
    border: none;
    padding: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: background .4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 900px) {

    .desktopNav,
    .desktopActions {
        display: none;
    }
}

@media (max-width: 480px) {
    .header {
        padding: var(--space-16) var(--space-16);
    }
}