.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background: white;
    border-bottom: 1px solid #eee;
}

.navbar-left {
}
.nav-logo-container{
    width : 8%;
}
.nav-logo {
    max-width: 100%;
    max-height: 100%;
}
.nav-links{
    display : flex;
    gap : 20px;
}
.nav-links a {
    margin-right: 16px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
}

.nav-links a:hover {
     color: black;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-btn {
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    color: #333;
    border: 1px solid #ddd;
    font-size: 14px;
}

.nav-btn:hover {
    background: #f5f5f5;
}

.nav-btn.primary {
     background: black;
     color: white;
     border: none;
}

.nav-btn.primary:hover {
    background: #222;
}

.logout {
    background: #ff4d4f;
    color: white;
    border: none;
}
.logout:hover {
    background: #d9363e;
}

.user-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-name {
    font-weight: 500;
}
@media (max-width : 1200px) {
    .nav-logo-container {
        width: 15%;
    }
}

@media (max-width : 900px) {
    .nav-logo-container {
        display: none;
    }
    .navbar {
        justify-content: space-around;
    }
}
@media (max-width : 750px) {
    .navbar-right {
        display: none;
    }
    .navbar{
        justify-content : center; 
    }
}
