.custom-input {
    background-color: #f0f0f0;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    color: #111827;
    font-family: inherit;
    transition: all 0.2s ease;
}
.custom-input::placeholder {
        color: #6b7280;
}
.custom-input:focus {
    border-color: #ccc;
    box-shadow: 0 0 5px rgba(79, 142, 247, 0.5);
}
input.custom-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f0f0f0 inset !important; /* your background */
    -webkit-text-fill-color: #000 !important; /* text color */
}
