.card {
    background: white;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 5px 9px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

    .info h3 {
        margin: 0;
    }

    .info h2 {
        margin: 0;
        color: #2563eb;
    }

.category {
    color: #64748b;
    font-weight: 500;
}

.period {
    font-weight: 600;
}

.actions {
    display: flex;
    gap: 10px;
}

.editBtn {
    border: none;
    padding: .75rem 1rem;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

.deleteBtn {
    border: none;
    padding: .75rem 1rem;
    border-radius: 8px;
    background: #dc2626;
    color: white;
    cursor: pointer;
}
