.card {
    display: flex;
    gap: var(--space-24);
    align-items: center;
    padding: var(--space-24);
    background: var(--surface);
    border-radius: var(--space-16);
    box-shadow: var(--shadow-100);
}



.title {
    margin: 0 0 var(--space-8) 0;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-semibold);
    color: var(--text-primary);
}

.subtitle {
    margin: 0;
    color: var(--text-secondary);
    font-size: var(--font-size-14);
    line-height: 1.7;
}