.card {
    background-color: var(--surface);
    padding: var(--space-16);
    border-radius: var(--space-24);
    box-shadow: var(--shadow-100);
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--space-12);
}

.header .title {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
}

.header .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-100);
    border-radius: 50%;
    fill: var(--primary-500);
    stroke: none;
    padding: var(--space-4);
}

.description {
    font-size: var(--font-size-12);
    margin-top: var(--space-12);
    color: var(--text-secondary);
    max-width: 24ch;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--space-24);
}

.container .progressRing {
    position: relative;
    width: 140px;
    height: 140px;
    transform: rotate(-90deg);
}

.container .chartLabel {
    position: absolute;
}

.label {
    font-size: var(--font-size-20);
    color: var(--text-primary);
    font-weight: var(--font-weight-bold);
}

.progressRing .progressRingTrack {
    fill: none;
    stroke-width: var(--space-12);
    stroke: var(--gray-100);
    stroke-linecap: round;

}

.progressRing .progressRingIndicator {
    fill: none;
    stroke-width: var(--space-12);
    stroke: var(--primary-500);
    stroke-linecap: round;
}