.card {
    background-color: var(--surface);
    padding: var(--space-16);
    border-radius: var(--space-24);
    box-shadow: var(--shadow-100);
    width: fit-content;
}

.header {
    display: flex;
    align-items: center;
    gap: var(--space-12);
}

.header .title {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
}

.header .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-100);
    border-radius: 50%;
    fill: var(--primary-500);
    stroke: none;
    padding: var(--space-4);
}

.description {
    font-size: var(--font-size-12);
    margin-top: var(--space-12);
    color: var(--text-secondary);
    max-width: 24ch;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--space-24);
}

.waveContainer {
    width: 200px;
    height: 120px;
}

.waveArea {}

.waveStrok {
    stroke: var(--primary-600);
    stroke-width: 3;
    stroke-linecap: round;
}