.side-image {
    flex: 1; /* take half of the card by default */
    background-color: #f5f5f5; /* fallback color if image doesn't load */
    display: flex;
    background-size : cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    
}
@media (max-width : 1205px){
    .side-image{
        display : none;
    }
}

