.card {
    display: flex;
    width: 100%;
    color : black;
    max-width: 900px;
    margin: 50px auto;
    padding: 7px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    gap: 70px;
}

/* Tablet / small laptop */
@media (max-width: 1205px) {
    .card {
        flex-direction: column;
        justify-content: center;
        max-width: 700px;
        align-items: center;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .card {
        padding: 12px;
        max-width : 400px;
        gap: 20px;
    }
}
