/* Base card style */
.card {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    color: black;
    padding: 7px;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    gap: 70px;
}
.large {
    max-width: 1180px
}
/* Tablet / small laptop */
@media (max-width: 1205px) {
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 700px;
        height: auto;
    }
    .large{
        max-width:510px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .card {
        padding: 12px;
        max-width: 400px;
        gap: 20px;
    }
}

/* Variants */
.center {
    justify-content: center;
    align-items: center;
}

