:local(:root) {
    --ink: #0a0a0f;
}
.section {
    padding: 20px;
    background-color: white;
    color: var(--ink);
    border-radius:20px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    gap: 20px;
}
@media(max-width: 800px){
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
