

.button {
    font-family : var(--font-family);
    display : flex;
    justify-content : center;
    align-items: center;
    border: none;
    border-radius: var(--space-4);
    cursor: pointer;
    transition: all 0.2s ease-in;

}

.button:hover {
    opacity: 1;
     transform: translateY(-1px);
}

.button:active {
    transform: scale(0.98);
}

.button:disabled {
    background-color: var(--color-button-disabled);
     cursor: not-allowed;
}

/* Variants */
.primary {
    background-color: var(--primary-500);
    color: var(--text-white);
}
.secondary {
    background-color: var(--gray-100);
    color: var(--text-primary);
    border : 1px solid var(--gray-200);
}
.danger{
    background-color : var(--danger-500);
    color : var(--color-white);
}
.success {
    background-color: var(--success-500);
    color: var(--color-white);
}

.warning {
    background-color: var(--warning-500);
    color: var(--color-white);
}
.ghost{
    background-color : transparent;
    color : var(--text-secondary);
}
/* States */
.primary:hover{
    background-color: var(--primary-600);
}
.primary:active{
    background-color : var(--primary-700);
}
.secondary:hover{
    background-color: var(--secondary-600);
}

.secondary:active{
    background-color: var(--secondary-700);
}

.danger:hover{
    background-color: var(--danger-600);
}

.danger:active{
    background-color: var(--danger-700);
}

.success:hover{
    background-color: var(--success-600);
}

.success:active{
    background-color: var(--success-700);
}

.warning:hover{
    background-color: var(--warning-600);
}

.warning:active{
    background-color: var(--warning-700);
}
.ghost:hover{
    background-color: var(--ghost-600);
}

.ghost:active{
    background-color: var(--ghost-700);
}
/* Sizes */
.small {
    padding: var(--space-8) var(--space-12);
    font-size: var(--font-size-12);
}

.medium {
    padding: var(--space-12) var(--space-16);
    font-size: var(--font-size-14);
}

.large {
    padding: var(--space-12) var(--space-24);
    font-size: var(--font-size-24);
}

/* Full width option */
.fullWidth {
    width: 100%;
}
.disabled{
    background-color : var(--gray-200);
    color : var(--gray-400);
}
