.card {
    background: var(--surface);
    border-radius: var(--space-24);
    padding: var(--space-24);
    box-shadow: var(--shadow-100);
    margin-top : var(--space-24);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-24);
}

    .header h2 {
        font-size: var(--font-size-24);
        font-weight: var(--font-weight-semibold);
        color: var(--text-primary);
    }

.seeAll {
    border: none;
    background: none;
    cursor: pointer;
    color: var(--text-secondary);
    font-size: var(--font-size-14);
}

.table {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.tableHeader {
    display: grid;
    grid-template-columns: 64px 2fr 1fr 1.5fr 1fr 1fr;
    align-items: center;
    background: var(--gray-100);
    border-radius: var(--space-12);
    padding: var(--space-12) var(--space-16);
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-medium);
    color: var(--text-primary);
}

.row {
    display: grid;
    grid-template-columns: 64px 2fr 1fr 1.5fr 1fr 1fr;
    align-items: center;
    padding: var(--space-12);
    border-radius: var(--space-12);
    transition: 0.2s;
    gap: var(--space-12);
    font-size: var(--font-size-14);
}

    .row:hover {
        background: var(--gray-50);
    }

.iconWrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-12);
    background: var(--primary-50);
    color: var(--primary-500);
}

.positive {
    color: var(--primary-500);
    font-weight: var(--font-weight-semibold);
}

.negative {
    color: var(--primary-500);
    font-weight: var(--font-weight-semibold);
}

.status {
    color: var(--success-600);
    font-weight: var(--font-weight-medium);
}
