.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
}

.badge {
    background: #e5e7eb;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
