
.wrapper {
    padding: var(--space-24);
}
.card {
    display : flex;
    flex-direction : column;
    align-items: center;
    background: var(--primary-300);
    border-radius: var(--space-16);
    overflow: hidden;
    padding: var(--space-24);
    text-align: center;
    gap : var(--space-4);
}

.title {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-bold);
    color: var(--text-white);
}

.subtitle {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: 1.7;
    color: var(--text-white);
    max-width: 480px;
}

.actions {
    display: flex;
    gap: var(--space-8);
    flex-wrap: wrap;
    justify-content: center;
    margin-top  : var(--space-24);
}


@media (max-width: 600px) {
    .card {
        padding: var(--padding-card-mobile);
    }
}
