.layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 12px;
    max-width: 1200px;
    margin: 24px auto;
    padding: 0 16px;
    align-items: start;
    margin-top: 90px;
}

@media (max-width: 1080px) {
    .layout {
        grid-template-columns: 1fr;
    }
}

.main {
    display: flex;
    flex-direction: column;
    min-width: 0;
}
