.profile-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap : 20px
}
.card{
    margin-bottom: 10px;
}
.profile-left-section{
    display : flex;
    flex-direction : column;
    width : 50%;
}
.profile-user-section{
    display : flex;
    gap: 10px;
}
.profile-user-image {
    width: 40%;
}
.profile-right-section {
    display: flex;
    flex-direction: column;
    width : 44%
}

.profile-user-data {
    width: 100%;
    padding: 20px;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.user-plan {
    font-size: 14px;
    color: #888;
}

.user-balance {
    text-align: right;
}

.balance-label {
    font-size: 13px;
    color: #999;
}

.balance-amount {
    font-size: 24px;
    font-weight: bold;
    margin: 4px 0;
}

.balance-change {
    font-size: 14px;
}

.balance-change.positive {
    color: #16a34a; /* green */

}

.balance-change.negative {
     color: #dc2626; /* red */
}
.user-bio {
    margin-top: 6px;
    font-size: 14px;
    color: #666;
    max-width: 300px;
    line-height: 1.4;
}
