.card {
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    color: black;
}

.title {
    font-weight: 600;
    margin-bottom: 12px;
}

.summaryRow {
    display: flex;
    gap: 16px;
    margin-top: 23px;
}

.summaryItem {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.summaryValue {
    margin-top: 10px;
    font-weight: 700;
}

.summaryLabel {
    font-size: 12px;
    color: #6b7280;
}
