.user-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
}

.tag {
    padding: 6px 12px;
    font-size: 13px;
    background-color: #f3f4f6;
    color: #333;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tag:hover {
     background-color: #e5e7eb;
}

.tag.active {
   background-color: #111;
   color: #fff;
}
